/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-top: 102px;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-card-font-weight);
  color: var(--accent-color);
  font-size: 18px;
   background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: 'Inter-Variable', sans-serif;
      font-size: var(--font-size);
  }
} 

@media (width <= 476px) {
  body {
    min-height: 100vh;
  }  
  
 
  .header-logo {
    font-size: 49px;
  }

  
  h2 {
    line-height: 1.2;
  }

}

.header {
  width: min(698px, 99%);
  padding: 136px 0 15px 0;
  background-color: var(--background-color);
  margin: 0 auto 100px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: var(--accent-font, fantasy);
  color: var(--accent-color);

  border: 2px solid var(--accent-color);
}

.header-logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--accent-color);
  outline: none;
}

.header__title {
  text-transform: uppercase;
  font-size: clamp(18px, 2.5vw, 23px);
  margin-bottom: 22px;
}

.theme-menu__button {
  border: none;
  outline: none;
  background-color: transparent;
  margin-bottom: 7px;
  margin-left: 15px;
  position: relative;
  font-size: 14px;
  transition: all .3s ease;
  opacity: 1;
  text-transform: uppercase;
  padding: 0;
}

.theme-menu__button:before {
  content: "▶";
  font-size: 14px;
  position: absolute;
  left: -18px;
  color: transparent;
  animation: pulse 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:disabled:before {
  color: var(--accent-color);
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: .6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:hover {
  cursor: pointer;
}

.theme-menu__button:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: all 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:focus {
  outline: none;
  opacity: .6;
}

.theme-menu__button:focus, 
.theme-menu__button:hover, 
.theme-menu__button:disabled, 
.theme-menu__button:focus-visible { 
   opacity: 60%; 
}     

.theme-menu__button {
  transition:  0.3s ease;
 } 

.card__block {
  width: min(698px, 99%);
  background-color: var(--background-color);
  margin: 0 auto 52px auto;
  border: 2px solid var(--accent-color);
}

.card__main {
  position: relative;
}

.card__main-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__corner-text {
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 10;

  text-shadow:
    -1px 0 var(--label-line-color), 
     0 1px var(--label-line-color), 
     1px 0 var(--label-line-color), 
     0 -1px var(--label-line-color);
}
@media (width <= 476px) {
  .card__corner-text{
    inset-inline-end: 13px;
  }
}


@supports((text-stroke: 1px var(--label-line-color)) or (-webkit-text-stroke: 1px var(--label-line-color))) {
  .card__corner-text  {
      -webkit-text-stroke: 1px var(--label-line-color);
      text-stroke: 1px var(--label-line-color);
      text-shadow: none;
  }
} 

.card__footer-text {
  /*margin: 25px;*/
  margin-bottom: 27px;
  line-height: 21px;
}


.card__title {
  padding: 5px 0 5px 10px;
  font-size: 18px;
  border-bottom: 2px solid var(--accent-color);
  font-variation-settings: 'wght' var(--header-card-font-weight);
 
}

.button {
  font-size: 14px; 
  cursor: pointer; 
  position: relative; 
  display: flex; 
  align-items: center; 
  font-family: var(--accent-font, fantasy); 
  border: 2px solid var(--accent-color); 
  line-height: 90%; 
  transition: all 0.3s; 
  justify-content: center; 
}

.button_container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0 25px 25px 0;
  gap:4px;
  
}

.like-icon {
  height: 36px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  width: 39px;
}

.modal-window__button,
.card__like-button {
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  background-color: transparent;
}

.card__icon-button {
  cursor: pointer;
  outline: none;
  background-color: var(--background-color);
  height: 38px;
  display: flex;
  border: 2px solid transparent;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;
  padding: 0;
  
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__icon-button:focus {
  outline: none;
}


.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}


.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
}


.button:hover:before {
  width: 100%;
}

.button__text {
  color: var(--color-button-text);
  mix-blend-mode: difference;
  z-index: 10;
}

.save__button {
  margin: 0 auto 80px;
  width: 340px;
  height: 55px;
  background-color: var(--background-color);
} 

.floppy_image {
  width: 21px;
  height: 21px;
  margin-right: 8px;
  mix-blend-mode: difference;
  color: var(--color-button-text);
}

.modal-window {
  width: 357px;
  background-color: var(--background-color);

  font-family: var(--accent-font, fantasy);
  text-transform: uppercase;
  font-size: 14px;

  padding: 32px 42px 32px;
  border: 2px solid var(--accent-color);
}

.modal-window__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window__text {
  display: block;
  margin-left: 20px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--accent-color);
}

.modal-window__floppy_image {
  stroke: var(--accent-color);
  z-index: 10;
  width: 90px;
  height: 40px;
  color: var(--accent-color)
}

.modal-window__button {
  width: 257px;
  height: 38px;
  margin-top: 30px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.saturate {
  filter: saturate(30%);
}

.high-bright {
  filter: saturate(500%) contrast(100%) brightness(100%);
}

.grayscale {
  filter: saturate(200%) grayscale(50%) hue-rotate(25deg) sepia(30%) contrast(100%) brightness(100%);
}

.high-contrast {
  filter: saturate(220%) invert(60%) contrast(200%) brightness(120%);
}

.sepia {
  filter: saturate(30%) sepia(60%) invert(20%) grayscale(50%) contrast(200%);
}

.blure {
  filter: saturate(80%) blur(5px);
}

.mix {
  filter: saturate(30%) invert(20%) contrast(200%) hue-rotate(100deg) brightness(80%);
}

.card__block-footer { 
  border-top: 2px solid var(--accent-color);
  padding: 25px 25px 0 25px;
}

@media (width <= 476px) {
  .save__button {
      flex-direction: column;
      width: 309px;
      height: 83px;
      padding: 15px 0;
      justify-content: space-between;
  }
}

@media (width <= 476px) {
  .floppy_image {
      width: 40px;
      height: 40px;
      margin-bottom: 8px;
      margin-left: 5px;
  }
}

@media (width <= 476px) {
  .header__title { 
    font-size: 14px; 
  }
}
 

 @media (width <= 476px) {
  .header {
      padding-top: 120px;
  }
}

@media (width <= 375px) {
  .modal-window {
      inline-size: 341px;
      padding-inline-start: 40px;
  }
}

